body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #fcfbf6;
}
section {
  margin-top: 2em;
  background-color: #fcfbf6;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  background-color: #fcfbf6;
  border-bottom: 1px solid $primary;

  .brand-logo {
    .logo {
      height: 4em;
    }
  }
  .ul {
    list-style-type: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 15px 20px;

      a {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
      :hover {
        color: $primary;
      }
    }
  }
  .checkbox {
    display: none;
    position: absolute;
    top: 20px;
    right: 15px;

    div {
      width: 25px;
      height: 4px;
      background-color: $primary;
      margin-top: 4px;
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }
  .toggle {
    .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}
.sticky {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
.slider {
  background-color: $primary;
  min-height: 522px;
  background-image: linear-gradient(45deg, #e6a06e, #e94560);
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 90%);
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .slider-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 1em 0;
    height: 70% !important;
    text-align: center;
    h1 {
      color: white;
      font-size: x-large;
      font-weight: bold;
      margin-bottom: 1em;
      // text-transform: lowercase;
    }
    p {
      color: white;
      margin-bottom: 1em;
    }
    .btn-service {
      border: none;
      background-color: rgb(58, 199, 117);
      color: white;
      height: 3em;
      width: 15em;
      font-weight: bold;
      border-radius: 5em;
      float: right;
      margin-bottom: 1em;
      &:hover {
        background-color: #000;
      }
    }
  }
}
.slider-1 {
  background-color: $primary;
  min-height: 522px;
  background-color: #ff0202;
  // background-image: linear-gradient(45deg,#e6a06e ,#e94560);
  // clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 90%);
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .slider-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 1em 0;
    height: 70% !important;
    text-align: center;
    h1 {
      color: white;
      font-size: x-large;
      font-weight: bold;
      margin-bottom: 1em;
      // text-transform: lowercase;
    }
    p {
      color: white;
      margin-bottom: 1em;
    }
    .btn-service {
      border: none;
      background-color: rgb(58, 199, 117);
      color: white;
      height: 3em;
      width: 15em;
      font-weight: bold;
      border-radius: 5em;
      float: right;
      margin-bottom: 1em;
      &:hover {
        background-color: #000;
      }
    }
  }
  .page-title {
    width: 100%;
    height: 522px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    h1 {
      // z-index: -1;
      opacity: 1;
      color: #fff;
    }
  }
}
.services {
  background-color: white;
  padding: 2em 0;
  .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }
  .sub-title {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 1em 0;
    text-align: center;
    outline: 0;
    padding: 0;
  }
  .card {
    height: 23em;
    max-height: 23em;
    background-color: white;
    box-shadow: 5px 10px 18px gray;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    .card-icon {
      text-align: center;
      padding: 1em 0;
      i {
        color: $primary;
        font-size: 4em;
      }
    }
    .card-title {
      h4 {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
      }
      padding: 2px 0;
    }
    .card-text {
      p {
        text-align: center;
        padding: 0 1em;
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
      }
    }
    .card-bottom {
      margin: auto;
      button {
        margin: auto;
        font-family: "Almarai", Sans-serif;
        font-size: 15px;
        font-weight: 600;
        background-color: $primary;
        border-radius: 5em;
        padding: 15px 32px 15px 32px;
        color: white;
        border: none;
        &:hover {
          background-color: #000;
        }
      }
    }
  }
}
.mission {
  background-color: white;
  padding: 1em 0;
  margin: 1em 0;
  img {
    height: 25em;
    max-width: 25em;
    margin: auto;
  }
  .mission-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3em;
    padding: 1em 0;
    // height: 20em;
    h1 {
      color: black;
      font-size: x-large;
      font-weight: bold;
      // text-transform: lowercase;
    }
    p {
      color: black;
    }
    .btn-info {
      border: none;
      background-color: $primary;
      color: white;
      height: 3em;
      width: 15em;
      font-weight: bold;
      border-radius: 5em;
      &:hover {
        background-color: #000;
      }
    }
  }
}
.clients-section {
  background-color: white;
  width: 100%;
  text-align: center;
  .slide {
    width: 100%;
    height: 11em;
    .slide-item {
      background-color: white;
      height: 8.5em;
      width: 100%;
      margin: 10px 0px;
      border-radius: 2em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 5px 10px rgb(185, 179, 179);
    }
    .control {
      position: absolute;
      bottom: 0;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .dot-control {
        width: 0.7em;
        height: 0.7em;
        margin: 6px 2px;
        background-color: gray;
        clip-path: circle(48%);
        cursor: pointer;
        opacity: 0.3;
      }

      .active {
        opacity: 1;
      }
    }
  }

  .clients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    padding: 1em 0;
    // .picsum-img-wrapper{
    //   height: 50%;
    // }
    h1 {
      // font-family: "Almarai", Sans-serif;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
    }
    p {
      color: #1b1919;
      // font-family: "Almarai", Sans-serif;
      font-size: 17px;
      font-weight: 600;
      line-height: 2.9em;
      text-align: center;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-left: 0;
      width: 100%;
      li {
        img {
          height: 5em;
        }
      }
    }
    .btn-show-more {
      border: none;
      box-shadow: 5px 10px 18px gray;
      border-radius: 2em;
      outline: none;
      height: 3em;
      width: 7em;
      background-color: rgb(58, 199, 117);
      color: white;
    }
  }
}
.footer {
  .footer-top {
    background-color: $primary;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
    p {
      margin: auto;
      color: white;
    }
    .btn-contact {
      border: none;
      // box-shadow: 0px 5px 5px rgb(206, 81, 81);
      border-radius: 2em;
      outline: none;
      height: 3em;
      width: auto;
      margin: 0 0.5em;
      background-color: #000;
      color: white;
      &:hover {
        background-color: #fff;
        color: $primary;
        // box-shadow: 0px 5px 5px rgb(247, 86, 86);
      }
    }
  }
  .footer-left {
    background-color: white;
    h1 {
      font-family: "Almarai", Sans-serif;
      font-size: 21px;
      font-weight: 600;
      color: $primary;
    }
    ul {
      list-style-type: none;

      li {
        padding-top: 1em;
        margin: 0;
        &:hover {
          transform: scale(1, 1);
          ::after {
            width: 80%;
          }
        }

        a {
          color: black;
          text-decoration: none;
          ::after {
            content: "";
            width: 0px;
            height: 2px;
            display: block;
            background: $primary;
            transition: 300ms;
          }
        }
      }
    }
  }
  .footer-center {
    background-color: white;
    h1 {
      font-size: 21px;
      font-size: 21px;
      font-weight: 600;
      color: $primary;
    }
    ul {
      list-style-type: none;

      li {
        padding-top: 1em;
        a {
          color: black;
          text-decoration: none;
          i {
            color: $primary;
            padding: 0 1em;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
  .footer-right {
    background-color: white;
    h1 {
      font-weight: 600;
      font-size: 21px;
      font-weight: 600;
      color: $primary;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        border: none;
        box-shadow: 0px 5px 18px   rgb(197, 195, 195);
        border-radius: 2em;
        outline: none;
        height: 3em;
        width: 100%;
        margin: 1em 1em 0 1em;
        padding: 1em 2em;
      }
      .btn-abonner {
        border: none;
        box-shadow: 0px 0 10px rgb(197, 195, 195);
        border-radius: 2em;
        outline: none;
        height: 3em;
        width: 100%;
        background-color: $primary;
        color: white;
        &:hover {
          background-color: #000;
        }
        // margin: 1em;
        // padding: 1em;
      }
      
    }
    ul {
      list-style-type: none;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-left: 0;
      margin-left: 0;
      li {
        color: #000;
        padding-top: 1em;
        margin: 0;
        // padding: 1em 0em 0 1em;
        i {
          color: $primary;
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: $primary;
    height: 5em;
    bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    p {
      margin: auto;
      color: white;
    }
  }
}
.position {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(168, 164, 164);
  border-radius: 2em;
  margin-top: 1em;
  padding: 10px 0;
  h2 {
    color: $primary;
  }
  h4 {
    color: #000;
  }
  ul {
    list-style-type: none;
    li {
      color: $primary;
    }
  }
}
.contact-center {
  background-color: white;
  height: 100%;
  .contact-center-header {
    color: #000;
    margin-top: 1em !important;
    text-align: center;
  }
  .contact-left {
    h3 {
      color: $primary;
    }
  }
  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em !important;
    .form-control {
      margin: 0.5em;
      height: 50px;
      border: none;
      box-shadow: 0px 1px 10px rgb(201, 193, 193);
      outline: none;
      border-radius: 5px;
      padding: 15px;
      color: #000000;
    }
    textarea {
      height: 7em !important;
    }
    .form-control-button {
      border: none;
      height: 3em;
      border-radius: 7px;
      width: 10em;
      background-color: $primary;
      color: white;
      &:hover {
        background-color: #000;
      }
    }
  }
}
.about-us-mission {
  height: 25em;
  width: 20em;
  background-color: white;
  box-shadow: 5px 10px 18px gray;
  // border-radius: 3em;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 1em;
  margin: 1em 0;
  i {
    color: $primary;
    font-size: 4em;
  }
  p {
    text-align: center;
  }
}
.card-about {
  margin-top: -10em;
}
.contact-nous-about-us {
  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em !important;
    .form-control {
      margin: 0.5em;
      height: 50px;
      border: none;
      box-shadow: 0px 1px 10px rgb(201, 193, 193);
      outline: none;
      border-radius: 5px;
      padding: 15px;
      color: #000000;
    }
    textarea {
      height: 7em !important;
    }
    .form-control-button {
      border: none;
      height: 3em;
      border-radius: 7px;
      width: 10em;
      background-color: $primary;
      color: white;
      &:hover {
        background-color: #000;
      }
    }
  }
}
.client-nos-clients {
  background-color: white;
  border: none;
  border-radius: 3px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 10px rgb(201, 193, 193);
  img {
    height: 5em;
    width: 100%;
    margin: 5px 5px;
    opacity: 0.5;
  }
}
.client-section-client {
  background-color: white;
}
.services-page {
  text-align: center;

  .header-service {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em 4.6em;
    background-color: #fff;
    h2 {
      color: #000;
      font-family: "Almarai", Sans-serif;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      line-height: 2.2em;
    }
    p {
      margin-bottom: 1.6em;
      text-align: center;
    }
  }

  .services-page-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    h2 {
      color: #000;
      font-family: "Almarai", Sans-serif;
      font-size: 30px;
      font-weight: initial;
      font-style: normal;
      line-height: 35px;
    }
    p {
      margin-top: 2em;
      text-align: center;
    }
    background-color: #fcfbf6;
  }
  .service-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .service-card-principale {
      background-color: #fff;
      box-shadow: 0 5px 10px rgb(233, 226, 226);
      border: none;
      border-radius: 15px;
      width: 100%;
      .card-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8em;
        border-radius: 15px 15px 0 0;
        background-color: rgba(30, 210, 255, 0.842);
      }
      .card-body {
        .price {
          margin: 5px 0;
          h4 {
            color: #000;
            margin: 0;
          }
          p {
            color: rgb(71, 66, 66);
            margin: 0;
          }
        }
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          padding: 0;
          li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin: 0.5em 0;
            border-bottom: 1px solid #ddd;
            .green {
              color: rgb(111, 247, 111);
              border: 1px solid rgb(111, 247, 111);
              border-radius: 2em;
            }
            i {
              height: 1.7em;
              width: 1.7em;
              padding: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 15px;
            }
            .red {
              color: rgb(245, 58, 58);
              border: 1px solid rgb(245, 58, 58);
              border-radius: 1em;
            }
          }
        }
        .btn-order {
          border: none;
          height: 3em;
          border-radius: 5px;
          width: 70%;
          background-color: $primary;
          color: white;
          &:hover {
            background-color: #000;
          }
        }
      }
    }
  }
  .base {
    padding: 0;
    .card-title {
      background-color: #f4b400 !important;
      color: white;
    }
  }
  .advance {
    .card-title {
      background-color: #ff0202 !important;
      color: white;
    }
  }
  .premium {
    padding: 0;
    .card-title {
      background-color: #4285f4 !important;
      color: white;
    }
  }
}
